/* Hacky way to prevent pie section selection */
div.noSelect > svg > text,
div.noSelect > svg > g > path,
div.noSelect > svg > g > path > g > g,
div.noSelect > svg > g > path > g > text {
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
}
