/* Hacky way to prevent pie section selection */
div.noSelect > svg > g > path {
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
}
