.site {
	background-color: #2c303a;
	display: grid;
	grid-template-rows: 10vh 90vh;
	grid-template-columns: 20vw 80vw;
	grid-template-areas: 'header header' 'options graph';
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-pack: stretch;
	-ms-flex-pack: stretch;
	justify-content: stretch;
}

.header {
	grid-area: header;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.logo {
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

.options {
	grid-area: options;
	color: white;
	border: 2px solid white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.graph-wrapper {
	grid-area: graph;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: lightblue;
}

.graph {
	width: 90%;
	height: 90%;
	background-color: white;
}
